
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env.amikoo
.env
node_modules/
playwright-report/
test-results/
blob-report/
playwright/.cache/
